<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem totam natus a dolorem in aliquam ipsam accusantium? Reprehenderit, reiciendis animi eligendi iste amet minima error eius dolore vel, delectus dolorem.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit vitae distinctio recusandae sequi illo eos? Rerum minima tempore culpa. Earum quas qui quam cumque fuga facere nobis commodi quos molestiae!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga neque delectus voluptatibus molestias deserunt aspernatur necessitatibus excepturi dolores rem! Tenetur, sit dicta! Sint harum ad corporis soluta cupiditate vel! Saepe!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>